<section class="hero is-small has-background-danger	">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-white">
        Pokedex
      </h1>
    </div>
  </div>
</section>

<table class="table">
  <thead>
    <tr>
      <th>Index</th>
      <th>Pokemon</th>
      <th></th>
    </tr>
  </thead>
  <% @wild_pokemons.each do |pokemon| %>
    <tr>
      <td class="is-vertical-center"><%= pokemon.pokedex_index %></td>
      <td><%= link_to pokemon.name.capitalize, wild_pokemon_path(pokemon) %></td>
      <td><img src=<%= pokemon.img %> height="70" width="70"></td>
    </tr>
  <% end %>
</table>
